* {
  margin: 0;
  padding: 0;
}

.padre-flex span,
.padre-flex-2 span,
.padre-flex-3 span {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  text-align: center;
  border: solid 1px red;
}

.padre-flex span {
  width: 200px;
  height: 200px;
  background-color: orange;
  font-size: 50px;
}

.padre-flex-2 span {
  background-color: coral;
}

.padre-flex-3 span {
  background-color: darkorange;
  font-size: 150px;
}

.padre-flex,
.padre-flex-2,
.padre-flex-3 {
  width: 1420px;
  height: 500px;
  background-color: bisque;
  margin: 10px 10px 10px 10px;
}
