body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}

.container {
    background-color:rgb(57, 56, 56);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 8px;
    padding: 10px;
}

button {
    width: 80px;
    height: 80px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: rgb(121, 119, 119);
}

button:hover {
    background-color: #f0f0f0;
}

.lightOn {
    background-color:rgb(255, 255, 5);
}

.lightOff {
    background-color: rgb(121, 119, 119);
}